* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --button1Bg: #59a2e9;
    --button2Bg: #b7b7b7;
    --inputBorder: #b7b7b7;
    --cardBg: #32475a;
    --light: white;
    --dark: black;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    width:100vw;
    height:100vh;
    flex-wrap: nowrap;
    flex-direction: row;
}

.header {
    width: 100vw;
    min-width: 1000px;
    height: 60px;
    display: block;
    background-image: linear-gradient(to right, blue, darkblue);
    color: white;
}

.headerContent {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: bold;
}

.sidebar {
    width: 20vw;
    min-width:200px;
    height: 100vh;
    display: block;
    float: left;
    padding: 5px;
}

.sidebar h1 {
    font-size: 24px;
}

.sidebar p {
    text-align: center;
}

.sidebarSearch {
    display: block;
    align-items: center;
    margin: 0px 0px 5px;
    border-bottom: 1px solid black;
}

.sidebarSearch input {
    width: 98.3%;
    height: 30px;
    outline: none;
    border: 2px solid var(--inputBorder);
    border-radius: 4px;
    margin: 4px 0px;
}

.sidebarSearch button {
    width: 100%;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: var(--button1Bg);
    color:white;
    margin: 10px 0px;
}

.sidebarSearch button:active {
    background-color: white;
    color: black;
    border: 2px solid var(--button1Bg);
}

.savedCities button{
    width: 100%;
    border: none;
    background-color: var(--button2Bg);
    color: var(--light);
    text-align: center;
    border-radius: 4px;
    height: 25px;
    margin: 3px 0px;
}

.savedCities button:active {
    background-color: white;
    color: black;
    border-right: 2px solid var(--button2Bg);
}



.weatherBox {
    width: 60vw;
    min-width:500px;
    max-width: 1000px;  
}

.today {  
    height: 25vh;
    width: 72vw;
    min-height: 210px;
    max-height: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: left;
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
}

.today h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}


.today p {
    line-height: 2; 
}

.fiveDay {
    display: grid;
    grid-template-rows: 25px 220px;
    grid-gap: 10px;
    padding-top: 1px;
    padding-left: 5px;
    margin-left: 25px;
}

.gridHeader {
    grid-column: 1 / -1;
}

.fiveDay h1 {
    font-size: 22px;
}

.forecastCards {
    display: grid;
    grid-template-columns: repeat(5,135px);
    grid-template-rows: 220px;
    grid-gap: 30px;
    height: 125px;
    text-align: left;
    padding: 5px;
}

.card {
    width:140px;
    height:150px;
    padding-top: 1px;
    padding-left: 5px;
    background-color: var(--cardBg);
    
}

.card p {
    font-size:15px;
    margin: 5px;
    color: var(--light);
    margin: 8px 0px;
}

.uvLow {
    background-color: green;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    width: 50px;
    height: 25px;
}

.uvMod {
    background-color: yellow;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    width: 50px;
    height: 25px;
    
}

.uvHigh {
    background-color: orange;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    width: 50px;
    height: 25px;
    
}

.uvSevere {
    background-color: red;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    border-radius: 4px;
    width: 50px;
    height: 25px;
}

.updater {
    background: none;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-align: center;
    height: 50%;
    padding: 4px;
    background: white;
    border: 3px solid #04B5F2;
    border-radius: 3px;
    transition: 0.5s;
}

.updater:hover {
    border-color: var(--cardBg);
    letter-spacing: 1px;
    transform: scale(1.3);
}

.updater::before {
    font:var(--fa-font-solid);
    content:"\f185";
    font-weight: 900;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #FCE767;
    top: -6px;
    left: 80%;
    transition: 0.5s;
}

.updater:hover:before {
    left:  10%;
    width: 10px;
    border-color: var(--button1Bg);
}

.updater::after {
    font:var(--fa-font-solid);
    content:"\f186";
    font-weight: 900;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: lightgray;
    position: absolute;
    bottom: -8px;
    right: 80%;
    transition: 0.5s;
}

.updater:hover:after {
    right: 10%;
    width: 10px;
    border-color: var(--button1Bg);
}


